@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{

    --primary-color:#8093f1;
    --secondary-color:#f7aef8 ;
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;


}
strong{
    font-weight: 600;
    font-size: 1.8rem;
    margin-right: 5px;
    margin-top: -3px;
}
.container-home{
    position: relative;
    margin-top: 100px;
}
.container img{
    display: block;
    width: 100%;
}

nav{
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    padding: 0 5%;
    background-color:var(--primary-color);     
    box-shadow: 1px 6px 15px -2px rgba(0,0,0,0.32);
    -webkit-box-shadow: 1px 6px 15px -2px rgba(0,0,0,0.32);
    -moz-box-shadow: 1px 6px 15px -2px rgba(0,0,0,0.32);
}


nav .logo{
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #fff;
}

nav .links{
    float: right;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

nav .links li{
    list-style: none;
    margin: 20px;
}

nav .links a{
    display: block;
    padding: .7rem;
    font-size: 16px;
    font-weight: 600;
    color:#fff;
    text-decoration: none;
}


nav .links a:hover{
    border-top-width: 20px;
    background-color: var(--secondary-color);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.active{
    background-color: var(--secondary-color);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

#nav-toggle{
    position: absolute;
    top: -100px;
}
nav .icon-burger{
    position: absolute;
    position: absolute;
    right: 5%;
    top: 50%;
    display: none;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all .3s ease-in-out;
}


.jumbotron {
    background-color: #fadde1;
    width: 100%;
}
svg{
    margin-top: -55px;
}
.jumbotron img{
    width: 25%;
    display: block;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}


/* Galery */
.container-img{
    max-width: 1000px;
    margin: auto;
}

.thumb{
    width: 200px;
    float: left;
    border: 2px solid white;
    box-sizing: border-box;
}

/* ucapan */
.ucapan{
    margin-top: 100px;
}
section .ucapan p{
    text-align: ju;
}

@media (min-width: 768px) and (max-width: 1080px){  
    nav .links{
        float: right;
        padding: 0;
        margin: 0;
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}
@media (max-width: 450px) {
    svg{
        margin-top: -40px;
    }
}


@media (max-width: 768px){
    nav .logo{
        float: none;
        width: auto;
        justify-content: center;
    }
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, .8);
        overflow: hidden;
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
}
    nav .links a{
        font-size: 20px;
    }

    nav .icon-burger {
        display: block;
    }
    nav :checked ~ .links {
		bottom: 0;
	}
    nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
		-webkit-transform: translateY(10px) rotate(225deg);
		-moz-transform: translateY(10px) rotate(225deg);
		-ms-transform: translateY(10px) rotate(225deg);
		-o-transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
		-webkit-transform: translateY(-10px) rotate(-225deg);
		-moz-transform: translateY(-10px) rotate(-225deg);
		-ms-transform: translateY(-10px) rotate(-225deg);
		-o-transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
    }

}

.bg-footer{
    background-color: #8093f1;
}